
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
}

.menu_container{ 
    height: 50px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

body.dark-theme .menu_container{
    background-color: black;
}

body.dark-theme li{
    color: white;
}

body.dark-theme {
    background-color: black;
}
body.dark-theme .product-tumb{
    background-color: black;
}

body.dark-theme  .product-tumb img{
    filter: brightness(.8) contrast(1.4);
}
body.dark-theme .product-details{
    background-color: black;
}
body.dark-theme .searchTerm{
    background-color: black;
    border-color: white;
    
}
body.dark-theme .searchButton{
    background-color: black;
    border-color: white;
    
}

body.dark-theme  .product-card{
    box-shadow: 0 2px 7px #e4e4e4;
} 
 
.menu_container ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.menu_container ul li{
    list-style: none;
    padding: 13px;
    cursor: pointer;
    border-radius: 5px;

}



.menu_container ul li:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    transition: ease-in-out;

}

.card_container{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* card style */
body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    display: flex;
    width: 350px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px auto;
    background: #fafafa;
    flex-direction: column;
    
}
a{
    text-decoration: none;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-tumb img:hover{
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}
.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;

}

.product-details h2{
    height: 56px;
}
.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    height: 70px;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}

/* search */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
 
  .wrap{
    width: 30%;
  }
/*
  #pageMessages {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30%;
  }
  
  .alert {
    position: relative;
  }
  
  .alert .close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1em;
  }
  
  .alert .fa {
    margin-right:.3em;
  } */

.alert{
    border-radius: 5px;
    margin: 5px;
    width: 25%;
    padding: 3px;
    display: inline-block;
    position: absolute;
    z-index: 3;
    background-color: #ee8080;
}
.not_available{
    border-radius: 5px;
    margin: 5px;
    width: 25%;
    padding: 3px;
    display: inline-block;
    position: absolute;
    z-index: 3;
    background-color: #ee8080;
}
.green{
    border-radius: 5px;
    margin: 5px;
    width: 25%;
    padding: 3px;
    display: inline-block;
    position: fixed;
    z-index: 3;
    background-color: #8dee80;
}

i{ 
    cursor: pointer;
}